* {
    box-sizing: border-box;
    background-color: #1a1a1a;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.nav-about {
    width: 163px;
}

.nav-about:hover,
.nav-contacts:hover,
.nav-catalog:hover,
.contacts-faq:hover p {
    color: #7b5bff;
}

.nav-about,
.nav-contacts,
.nav-catalog,
.contacts-faq p {
    transition: .5s;
}

.nav-contacts {
    width: 243px;
}

.nav-catalog {
    width: 211px;
}

.cart:hover svg path {
    fill: #7b5bff;
}

.cart svg path {
    transition: fill .5s;
}

.navlink {
    display: inline-block;
    color: #ffffffd9;
    text-decoration: none;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 0.105em;
    height: 63px;
    text-shadow: 4px 7px 10px #0000007a;
}

.nav-item {
    display: inline-block;
    margin-right: 24px;
}

.nav-item:last-child {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    height: 63px;
}

.nav-main {
    display: block;
    padding-left: 0;
    margin: 0 190px 0 251px;
    word-spacing: -3px;
}

.nav {
    display: block;
    margin: 0 190px 0 4px;
    padding: 0;
    word-spacing: -3px;
}

.logo-img {
    margin-left: -22px;
    margin-top: -3px;
}

.selected {
    color: #a893ff;
}

/* Social media links */
.social {
    margin-top: 30px;
}

.social-links {
    text-align: center;
    word-spacing: 47px;
    height: 62px;
}

.social-links a {
    text-decoration: none;
}

.telegram-icon:hover svg path,
.instagram-icon:hover svg path,
.vk-icon:hover .vk-icon-filler,
.smalltelegram:hover svg path,
.smallinstagram:hover svg path,
.smallvk:hover .vk-icon-filler,
.smallemail:hover svg path {
    fill: #7b5bff;
}

.telegram-icon svg path,
.instagram-icon svg path,
.vk-icon-filler,
.smalltelegram svg path,
.smallinstagram svg path,
.smallemail svg path {
    transition: fill .5s;
}

/* Invitation screen */
.invitation {
    margin-top: 32px;
}

.big-logo {
    text-align: center;
}

.big-logo-img {
    margin-top: -3px;
    margin-left: 8px;
}

.gotocatalog-btn {
    margin-left: 1px;
    font-weight: 500;
    font-size: 64px;
    height: 63px;
    width: 285px;
    padding: 16px 51px 4px 51px;
    border-radius: 60px;
    box-shadow: 4px 7px 10px #0000007a;
}

.gotocatalog {
    margin-top: 25px;
    text-align: center;
}

.btn {
    text-decoration: none;
    color: #ffffffd9;
    background-color: #a893ff;
    font-size: 64px;
}

.btn:hover {
    background-color: #7b5bff;
}

.btn {
    transition: .5s;
}

/* About text */
.about {
    margin-top: 38px;
    height: 747px;
}

.about-text {
    margin-bottom: 32px;
    color: #ffffffd9;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.085em;
}

/* Contacts */
.contacts {
    margin-top: 30px;
}

.map {
    float: left;
    filter: drop-shadow(4px 7px 10px rgba(0, 0, 0, 0.48));
    margin-right: 23px;
}

.contacts-info {
    margin-top: 15px;
    display: inline-block;
    font-size: 32px;
    color: #ffffffd9;
    width: 487px;
}

.contacts-address {
    margin-top: 23px;
}

.contacts-phone {
    margin-top: 30px;
}

.contacts-workinghours {
    margin-top: 29px;
}

.contacts-faq {
    margin-top: 30px;
}

.semibold32 {
    text-shadow: 4px 7px 10px rgba(0, 0, 0, 0.48);
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: .105em;
}

.regular32 {
    text-shadow: 4px 7px 10px rgba(0, 0, 0, 0.48);
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0.085em;
    text-align: justify;
    line-height: 110%;
}

.extralight32 {
    text-shadow: 4px 7px 10px rgba(0, 0, 0, 0.48);
    margin: 0;
    padding: 0;
    font-weight: 200;
    letter-spacing: 0.085em;
    text-align: justify;
    line-height: 32px;
}

.social-icons-small {
    margin-top: 10px;
}

.social-small-item {
    margin-right: 15px;
    text-decoration: none;
}

.time {
    margin-left: 135px;
}

.faq {
    color: #a893ff;
}

.contacts-item {
    margin-top: 10px;
}

.contacts-faq a {
    text-decoration: none;
}