* {
    box-sizing: border-box;
    background-color: #1a1a1a;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */
.nav-about {
    width: 163px;
}

.nav-contacts {
    width: 243px;
}

.nav-catalog {
    width: 211px;
}

.navlink {
    display: inline-block;
    color: #ffffffd9;
    text-decoration: none;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 0.105em;
    height: 63px;
    text-shadow: 4px 7px 10px #0000007a;
}

.nav-item {
    display: inline-block;
    margin-right: 24px;
}

.nav-item:last-child {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    height: 63px;
}

.nav {
    display: block;
    padding-left: 0;
    margin: 0 190px 0 251px;
    word-spacing: -3px;
}

/* Social media links */
.social {
    margin-top: 30px;
}

.social-links {
    text-align: center;
    word-spacing: 47px;
    height: 62px;
}

/* Invitation screen */
.invitation {
    margin-top: 32px;
}

.big-logo {
    text-align: center;
}

.big-logo-img {
    margin-top: -3px;
    margin-left: 8px;
}

.gotocatalog-btn {
    margin-left: 1px;
    font-weight: 500;
    font-size: 64px;
    height: 63px;
    width: 285px;
    padding: 16px 51px 4px 51px;
    border-radius: 60px;
    box-shadow: 4px 7px 10px #0000007a;;
}

.gotocatalog {
    margin-top: 25px;
    text-align: center;
}

.btn {
    text-decoration: none;
    color: #ffffffd9;
    background-color: #a893ff;
    font-size: 64px;
}

.btn:hover {
    background-color: #7b5bff;
}